* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h1,
h2 {
  font-weight: 400;
}

p {
  font-size: 1.25rem;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  background-image: url("./images/header-img.png");
  background-size: cover;
  height: 170px;
  color: white;
  padding: 2em;
}

main {
  padding: 2em;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d2d2d2;
  padding: 2em 0;
}

.menu-item-left {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.menu-item-ingredients {
  font-size: 1rem;
  color: #8b8b8b;
  margin-bottom: 1em;
}

.menu-add-btn {
  width: 50px;
  height: 50px;
  align-self: center;
  border: 1px solid #dedede;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 100;
  color: #3c3c3c;
  background-color: white;
}

.menu-add-btn:hover,
.menu-add-btn:focus {
  cursor: pointer;
}

.order-title {
  text-align: center;
}

.order-items {
  border-bottom: 2px solid #393333;
  padding: 1em 0;
}

ul {
  list-style: none;
  font-size: 1.75rem;
}

.remove {
  border: none;
  color: #bbbbbb;
  background-color: white;
  font-size: 0.75rem;
  margin-left: 1em;
}

.order-total {
  margin-top: 0.5em;
}

.price {
  float: right;
  font-size: 1.25rem;
}

.order-btn,
.pay-btn {
  width: 100%;
  margin-top: 2em;
  padding: 1em;
  font-weight: 700;
  color: #fff;
  background-color: #16db99;
  border: 2px solid #16db99;
  border-radius: 4px;
}

.modal {
  max-width: 525px;
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 2px solid #757575;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

.pay-header {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 2px #757575;
}

input {
  margin: 0.5em 0;
  padding: 1em;
  font-size: 1.25rem;
  color: #757575;
  border: 2px solid #757575;
  border-radius: 4px;
}

.pay-btn {
  font-size: 1.25rem;
  text-shadow: 0 0 5px #757575;
}

.hidden {
  display: none;
}
